{% extends 'base.html' %}


{% block header %}
    <h1>
        Trips
        <a href="{{url_for('main.trip', action='add')}}" class="btn btn-outline-secondary">
            <i class="fas fa-plus"></i>
        </a>
    </h1>
{% endblock %}

{% block toolbar %}

{% endblock %}


{% block content %}

    {% if trips == [] %}
        <h2>Add some trips!</h2>
    {% else %}
        <div class="">
        {% for trip in trips %}
            <div class="border mt-3 container">
                <div class="row bg-dark pr-1 text-light justify-content-between">
                    <p class="m-1"><strong>{{ trip['trip_name'] }}</strong></p>
                    <div class="m-1">
                        <a class="btn btn-light btn-sm" href="{{ url_for('main.trip', action='view', trip_id=trip['trip_id']) }}">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a class="btn btn-light btn-sm" href="{{ url_for('main.trip', action='edit', trip_id=trip['trip_id']) }}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <ul class="list-unstyled ml-1">
                        <li class="row">
                            <strong class="col-4">From: </strong>
                            <span class="col-8">{{ trip['trip_start'].strftime('%d %b %Y') }}</span>
                        </li>
                        
                        <li class="row">
                            <strong class="col-4">To: </strong>
                            <span class="col-8">{{ trip['trip_end'].strftime('%d %b %Y') }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    
{% endblock %}
