{% extends 'base.html' %}

{% block header %}
    <h1>{{ trip['trip_name'] }}</h1>    
{% endblock %}

{% block toolbar %}
    
    <a class="btn btn-outline-secondary" href="{{ url_for('main.trip', action='edit', trip_id=trip['trip_id']) }}">Edit</a>
    
{% endblock %}

{% block content %}
    <div class="mt-3 bg-light sticky-top p-1 border-bottom border-top border-dark">
        <h2 class="sticky-top">Overview</h2>
    </div>
    <ul class="list-unstyled">
        <li class="row"><strong class="col-4">Start Date: </strong><span class="col-8">{{ trip['trip_start'].strftime('%d %b %Y') }}</span></li>
        <li class="row"><strong class="col-4">End Date: </strong><span class="col-8">{{ trip['trip_end'].strftime('%d %b %Y') }}</span></li>
    </ul>

    {% if trip['trip_accommodation'] == 1 %}
    <div class="mt-3 bg-light sticky-top p-1 border-bottom border-top border-dark">
        <h2>
            Accommodation
            <a href="{{ url_for('main.trip_info', action='add', section='accommodation', trip_id=trip['trip_id']) }}" class="btn btn-outline-secondary"> + </a>
        </h2>
    </div>

        {% if accom == [] %}
        <p><strong>Add Accommodation!</strong></p>
        {% endif %}

        {% if accom != [] %}
        
            {% for each in accom %}
            <div class="container-fluid mt-3 border">
                <div class="row bg-dark text-light pr-1 justify-content-between">
                    <p class="m-1"><strong>{{each['accom_name']}}</strong></p>
                    <div class="m-1">
                        <a class="btn btn-light btn-sm" href="{{ url_for('main.trip_info', action='edit', section='accommodation', trip_id=trip['trip_id'], section_id=each['accom_id']) }}">Edit</a>
                    </div>
                </div>
                <div class="row">
                    <ul class="list-unstyled col-9 pr-0 m-0">
                        <li class="row">
                            <strong class="col-4 p-1">Check in:</strong>
                            <span class="col-8 p-1">{{each['accom_start'].strftime('%d/%m/%y')}} {{each['accom_time']}}</span>
                        </li>
                        <li class="row">
                            <strong class="col-4 p-1">Check out:</strong>
                            <span class="col-8 p-1">{{each['accom_end'].strftime('%d/%m/%y')}}</span>
                        </li>
                        <li class="row">
                            <strong class="col-4 p-1">Postcode:</strong>
                            <span class="col-8 p-1">{{each['accom_postcode']}}</span>
                        </li>
                    </ul>
                    <ul class="list-unstyled col-3">
                        <li class="row"><strong>Booking:</strong></li>
                        <li class="row mt-2">
                            {% if each['accom_booking'] == 'nb' %}
                                <span class="badge badge-danger col mr-1">Not booked</span>
                            {% elif each['accom_booking'] == 'bk' %}
                                <span class="badge badge-success col mr-1">Booked</span>
                            {% else %}
                                <span class="badge badge-info col mr-1">Not required</span>
                            {% endif %}
                        </li>
                        <li class="row"><strong>Payment:</strong></li>
                        <li class="row mt-2">
                            {% if each['accom_paid'] == 'np' %}
                                <span class="badge badge-danger col mr-1">Not paid</span>
                            {% elif each['accom_paid'] == 'pd' %}    
                                <span class="badge badge-success col mr-1">Paid</span>
                            {% else %}
                                <span class="badge badge-info col mr-1">Not required</span>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        {% endif %}

    {% endif %}
    
    {% if trip['trip_transport'] == 1 %}
    <div class="mt-3 bg-light sticky-top p-1 border-bottom border-top border-dark">
        <h2>
            Transport
            <a href="{{ url_for('main.trip_info', section='transport', action='add', trip_id=trip['trip_id']) }}" class="btn btn-outline-secondary"> + </a>
        </h2>
    </div>

        {% if trans == [] %}
        <p><strong>Add Transport!</strong></p>
        {% else %}
            {% for each in trans %}
            <div class="container-fluid mt-3 border">
                <div class="row bg-dark text-light pr-1 justify-content-between">
                    <p class="m-1"><strong>{{each['transport_name']}}</strong></p>
                    <div class="m-1">
                        <a class="btn btn-light btn-sm" href="{{ url_for('main.trip_info', action='edit', section='transport', trip_id=trip['trip_id'], section_id=each['transport_id']) }}">Edit</a>
                    </div>
                </div>
                <div class="row">
                    <ul class="list-unstyled col-9 pr-0 m-0">
                        <li class="row">
                            <strong class="col-4 p-1">Start:</strong>
                            <span class="col-8 p-1">{{each['transport_start'].strftime('%d/%m/%y')}}</span>
                        </li>
                        <li class="row">
                            <strong class="col-4 p-1">Time:</strong>
                            <span class="col-8 p-1">{{each['transport_time']}}</span>
                        </li>
                        <li class="row">
                            <strong class="col-4 p-1">Duration:</strong>
                            <span class="col-8 p-1">{{each['transport_dur']}}</span>
                        </li>
                        <li class="row">
                            <strong class="col-4 p-1">Notes:</strong>
                            <span class="col-8 p-1">{{each['transport_notes']}}</span>
                        </li>
                    </ul>
                    <ul class="list-unstyled col-3">
                        <li class="row"><strong>Booking:</strong></li>
                        <li class="row mt-2">
                            {% if each['transport_booking'] == 'nb' %}
                                <span class="badge badge-danger col mr-1">Not booked</span>
                            {% elif each['transport_booking'] == 'bk' %}
                                <span class="badge badge-success col mr-1">Booked</span>
                            {% else %}
                                <span class="badge badge-info col mr-1">Not required</span>
                            {% endif %}
                        </li>
                        <li class="row"><strong>Payment:</strong></li>
                        <li class="row mt-2">
                            {% if each['transport_paid'] == 'np' %}
                                <span class="badge badge-danger col mr-1">Not paid</span>
                            {% elif each['transport_paid'] == 'pd' %}    
                                <span class="badge badge-success col mr-1">Paid</span>
                            {% else %}
                                <span class="badge badge-info col mr-1">Not required</span>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        {% endif %}

    {% endif %}

    {% if trip['trip_activities'] == 1 %}
    <h2 class="mt-3">
        Activities
        <a href="{{ url_for('main.trip_info', section='activities', action='add', trip_id=trip['trip_id']) }}" class="btn btn-outline-secondary"> + </a>
    </h2>

        {% if activities == [] %}
        <p><strong>Add Activities!</strong></p>
        {% endif %}

        {% if activities != [] %}
        <table class="table table-striped table-sm">
            <tr>
                <th>Name</th>
                <th>Travel Method</th>
                <th>Travel Time</th>
                <th>Status</th>
            </tr>

            {% for each in activities %}
            <tr>
                <td>
                    <a href="{{ url_for('main.trip_info', section='activities', action='edit', trip_id=trip['trip_id'], section_id=each['activity_id'] )}}">
                    {{each['activity_name']}}
                    </a>
                </td>
                <td class="text-capitalize">{{ each['activity_travel_method'] }}</td>
                <td>{{ each['activity_travel_time'] }}</td>
                <td class="p-0">
                        {% if each['activity_status'] == 'open' %}
                            <span class="badge badge-danger">&#10005;</span>
                        {% elif each['transport_paid'] == 'closed' %}
                            <span class="badge badge-success">&#10003;</span>
                        {% else %}
                            <span>n/a</span>
                        {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

    {% endif %}

{% endblock %}